* {
    background-color: #e5696d;
    color:white;
    font-family: 'RocknRoll One', sans-serif;
}


#head-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#scores {
    font-weight: bold;
}

#scoreButton {
    border: 2px solid black;
}

#timer {
    margin-left: 915px;
}

#title {
    text-align: center;
}

#quizContent {
    text-align: center;
    font-size: medium;
}

#submitBtn{
    font-size: 20px;
    margin-top: 2px;
    border: 2px solid black;
    border-radius: 5px
}

#startBtn {
    font-size: 20px;
    margin-top: 2px;
    border: 2px solid black;
    border-radius: 5px;
}